@media only screen and (max-width: 7000px){

	.iframe {
    margin:auto; 
    height: 600px;
    width: 100%;
    display: block;
    border-width:0px;

  }

  .one h1 {
    position: relative;
    padding: 0;
    line-height: 30px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: var(--dark)!important;;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
}

@media only screen and (max-width: 1690px){
  .iframe {
    margin:auto; 
    height: 600px;
    width: 100%;
    display: block;
    border-width:0px;
  }

  .one h1 {
    position: relative;
    padding: 0;
    line-height: 30px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: var(--dark)!important;;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

}

@media only screen and (max-width: 1600px){

  .iframe {
    margin:auto; 
    height: 600px;
    width: 100%;
    display: block;
    border-width:0px;
  }

  .one h1 {
    position: relative;
    padding: 0;
    line-height: 30px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: var(--dark)!important;;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

}

@media only screen and (max-width: 1199px){

  .iframe {
    margin:auto; 
    height: 600px;
    width: 100%;
    display: block;
    border-width:0px;
  }

  .one h1 {
    position: relative;
    padding: 0;
    line-height: 30px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: var(--dark)!important;;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
	
}

@media only screen and (max-width: 1139px){

  .iframe {
    margin:auto; 
    height: 500px;
    width: 100%;
    display: block;
    border-width:0px;
  }

  table tr th:first-child, table tr td:first-child {
    width: 300px;
 
}

.one h1 {
  position: relative;
  padding: 0;
  line-height: 30px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: var(--dark)!important;;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

	
}

@media only screen and (max-width: 991px){

  .iframe {
    margin:auto; 
    height: 400px;
    width: 100%;
    display: block;
    border-width:0px;
  }

  .one h1 {
    position: relative;
    padding: 0;
    line-height: 22px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--dark)!important;;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  

}

@media only screen and (min-width: 768px){

  .iframe {
    margin:auto; 
    height: 600px;
    width: 100%;
    display: block;
    border-width:0px;
  }

}




@media only screen and (max-width: 575px){	
  .iframe {
    margin:auto; 
    height: 440px;
    width: 100%;
    display: block;
    border-width:0px;
  }

  #modebar-15de24{
    position: absolute;
    top: 25px;
  
  }
}

@media only screen and (max-width: 475px){	
  .iframe {
    margin:auto; 
    height: 450px;
    width: 100%;
    display: block;
    border-width:0px;
  }
}

@media only screen and (max-width: 395px){	
  .iframe {
    margin:auto; 
    height: 470px;
    width: 100%;
    display: block;
    border-width:0px;
  }
}






