
{% extends "header.html" %}

{% block css%} 

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="apple-touch-icon" href="static/img/icons/icon-192x192.png">
<link rel="manifest" href="static/manifest.json">
<link rel="apple-touch-icon" href="static/img/icons/icon-512x512.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="pwa test">
    <!-- Load c3.css -->

    <link href="static/css/responsive.css" rel="stylesheet">


    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/base.css" rel="stylesheet">
    <script src="static/js/jquery.min.js"></script>
    <!-- Load d3.js and c3.js -->
  
    

    <!-- Mapa -->

    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="static/css/table.css" rel="stylesheet">

    {% endblock %}


    {% block actividades %} 

        <div class="container ">
            <div class="p-2">
                <div class="one">
                    <h1>VISITA DNP</h1>
                </div>
              


     

             

                <div class="p-4 shadow bg-white rounded boxcontaineract
                col">
                <div class="main-card mb-3 card">
                    <div id='hide1' class="card-header">
                        <h2>SOPORTES VISITA<h2>
                    </div>

                <div  class="table-responsive" style="visibility: visible; height: auto;">
                <table   class="tab align-middle text-truncate mb-1 table
                 table-hover ">
                    <thead class="headcol">
                        <tr >
                       
                            <th class="headcol text-center">CARPETA</th>
                            <th class="headcol text-center">EVIDENCIA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="act1">

                            <td class="text-left">Contratos y sus modificaciones</td>
                            
                            <td class="text-center">
                                <div class="btn-group-sm btn-group" role="group"><buttom class="btn-shadow btn
                                    btn-primary text-center" onclick = "window.open('https://drive.google.com/drive/folders/1K_45RLpioeJaP98MRKNbPFxGbgHYxYdq?usp=share_link', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes')"> Ver </buttom>
                            </td>
                        </tr>
                        <tr id="act2">

                            <td class="text-left">Cronograma de ejecución del proyecto</td>
                            
                            <td class="text-center">
                                <div class="btn-group-sm btn-group" role="group"><buttom class="btn-shadow btn
                                    btn-primary text-center" onclick = "window.open('https://drive.google.com/drive/folders/1ppVAwonViNL87LUOX8XUBL_8jmmXVWy8?usp=drive_link')"> Ver </buttom>
                            </td>
                        </tr>
                        <tr id="act3">

                            <td class="text-left">Licencias, permisos o autorizaciones requeridas para la ejecución del proyecto</td>
                            
                            <td class="text-center">
                                <div class="btn-group-sm btn-group" role="group"><buttom class="btn-shadow btn
                                    btn-primary text-center" onclick = "window.open('https://drive.google.com/drive/folders/1uY36WUgLujQz9Kn_w9uHKcuRkOjE7DLj?usp=drive_link')"> Ver </buttom>
                            </td>
                        </tr>
                        <tr id="act4">

                            <td class="text-left">Listado completo de beneficiarios del proyecto</td>
                            
                            <td class="text-center">
                                <div class="btn-group-sm btn-group" role="group"><buttom class="btn-shadow btn
                                    btn-primary text-center" onclick = "window.open('https://drive.google.com/drive/folders/1ssWw9mS7_fn800QH3ykaJCusaYweVg-G?usp=drive_link')"> Ver </buttom>
                            </td>
                        </tr>
                        <tr id="act5">

                            <td class="text-left">Pagos realizados con los recursos del proyecto</td>
                            
                            <td class="text-center">
                                <div class="btn-group-sm btn-group" role="group"><buttom class="btn-shadow btn
                                    btn-primary text-center" onclick = "window.open('https://drive.google.com/drive/folders/1srJwhrIQQ42d6Jd5H9QBCrmZU8LV-U0S?usp=drive_link')"> Ver </buttom>
                            </td>
                        </tr>
                        <tr id="act6">

                            <td class="text-left">Soporte de instalación de la valla informativa del proyecto</td>
                            
                            <td class="text-center">
                                <div class="btn-group-sm btn-group" role="group"><buttom class="btn-shadow btn
                                    btn-primary text-center" onclick = "window.open('https://drive.google.com/drive/folders/1NlHsiTqYCsmH5k11vq_I9G_mvsjA4hU1?usp=drive_link')"> Ver </buttom>
                            </td>
                        </tr>
                        <tr id="act7">

                            <td class="text-left">Soportes de socialización del proyecto</td>
                            
                            <td class="text-center">
                                <div class="btn-group-sm btn-group" role="group"><buttom class="btn-shadow btn
                                    btn-primary text-center" onclick = "window.open('https://drive.google.com/drive/folders/1OL-nH8VQ29Jofha3j6rDuoXNRRngrLSs?usp=drive_link')"> Ver </buttom>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                        
                       
                        <div class="d-block p-4 text-center card-footer"><button class="btn-pill btn-shadow btn-wide fsize-1 btn
                            btn-dark btn-lg"><span class="mr-2 opacity-7"><i
                                        class="fa fa-cog fa-spin"></i></span><span class="mr-1" onclick = "window.open('https://drive.google.com/drive/folders/12piJ2TvmJQPG8V_8tLxOSZNzCIOLFT1y?role=writer')">Ver todo</span></button></div>
    
                    
                </div>
                 
              


                </div>

            </div>
     



        </div>
   

        </div>
    </div>

    </body>
    
    

   

    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
    <script>
        window.addEventListener('load', async () => {
    if ('serviceWorker' in navigator) {
      try {
        const registration = await navigator.serviceWorker.register('sw.js')
        console.log('ServiceWorker registration successful with scope: ', registration.scope)
        const notificationPermission = await Notification.requestPermission();
        if (notificationPermission !== 'granted') {
          console.log('Notification permission not granted');
        } else {
        //   const title = 'Test Notification';
        //   const options = {
        //     body: 'Do you like this ?',
        //     icon: 'static/images/icons/beerjs-logo.png',
        //     vibrate: [200, 100, 200, 100, 200, 100, 400],
        //     tag: 'request',
        //     actions: [
        //       { action: 'yes', title: 'Yes', icon: 'static/images/icons/beerjs-logo.png' },
        //       { action: 'no', title: 'No', icon: 'static/images/icons/beerjs-logo.png' }
        //     ]
        //   };
        //   const res = await registration.showNotification(title, options);
        //   console.log(res);
        }
      } catch (err) {
        console.error(err);
      }
    }
  });





    </script>
    
    </html>

    {% endblock %}