


<!DOCTYPE html>
<html class='no-js'>

<head>
    
    {% block css %}{% endblock %}


</head>

<body class="bg-light" onload="load()" >


<div class="wrapper d-flex align-items-stretch">
<nav id="sidebar" class="">
    <div class="custom-menu sticky-top">
        <button type="button" id="sidebarCollapse" class="btn
                btn-primary sticky-top">
            <i>></i>
            <span class="sr-only">Menú</span>
        </button>
    </div>
    <div class="p-4  sticky-top"  >
        <div id="sidebarMenu" class="modal sticky-top">
        <a href="/" class="navbar-brand mb-3 "><img src="static/images/acopilogo.png"></a>
        <ul class="list-unstyled components mb-5">
            <li><a href="/">Generalidades</a></li>
            <li>
                <a href="actividades">Actividades</a>
            </li>
            <li>
                <a href="beneficiarios">Participantes</a>
            </li>
      
            <li>
                <a href="mapa">Geolocalización</a>
            </li>
            <li>
                <a href="DNP">Visita DNP</a>
            </li>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Contacto</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="contacto">Redes Sociales</a></li>
                    
                </ul>
            </li>
        </ul>
 
        <div class="footer">
            <p>
                Copyright ©
                <script>document.write(new Date().getFullYear());</script>
                All rights reserved ACOPI Atlántico| Powered <i class="icon-heart" aria-hidden="true"></i>
                by <a href="https://nlanub.com" target="_blank">nlanub.com</a>
            </p>
        </div>
    </div>
</div>
</nav>


{% block map %}{% endblock %}
{% block estadisticas %}{% endblock %}
{% block actividades %}{% endblock %}
{% block beneficiarios %}{% endblock %}
{% block mapa %}{% endblock %}


