
{% extends "header.html" %}

{% block css%} 

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="apple-touch-icon" href="static/img/icons/icon-192x192.png">
<link rel="manifest" href="static/manifest.json">
<link rel="apple-touch-icon" href="static/img/icons/icon-512x512.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="pwa test">

<!-- place this in a head section -->
<link rel="apple-touch-icon" href="touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="152x152" href="static/images/icons/icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="static/images/icons/icon-180x180.png">
<link rel="apple-touch-icon" sizes="167x167" href="static/images/icons/icon-167x167.png">

    <!-- Load c3.css -->
    <link href="static/css/c3.css" rel="stylesheet">
    <link href="static/css/responsive.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <link href="static/css/base.css" rel="stylesheet">
    <script src="static/js/jquery.min.js"></script>
    <!-- Load d3.js and c3.js -->
  
    <meta name="apple-mobile-web-app-capable" content="yes" />

<link href="static/images/icons/icon-1125x2436.png" sizes="1125x2436" rel="apple-touch-startup-image" />
<link href="static/images/icons/icon-1242x2208.png" sizes="1242x2208" rel="apple-touch-startup-image" />
<link href="static/images/icons/icon-750x1334.png" sizes="750x1334" rel="apple-touch-startup-image" />
<link href="static/images/icons/icon-640x1136.png" sizes="640x1136" rel="apple-touch-startup-image" />

    <!-- Mapa -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

   

    {% endblock %}

{% block estadisticas %} 

        <div class="container ">

          
     
            
                <div class="one">
                    <h1 >GFortalecimiento de procesos de innovación en la producción agrícola que mejoren la sostenibilidad y seguridad alimentaria de familias campesinas en el departamento del Atlántico</h1>
                   
                </div>
                <div class="row d-flex justify-content-center">
                <div class="p-4 shadow rounded boxcontainer col-lg-8 " style="display: flex !important;">
                <iframe loading="lazy" class='iframe' src="{{ url_for('frame') }}" > </iframe>
               </div>
          
               <div class="  boxcontainer col">
                <div class="row">
                    <div class="p-3 shadow rounded boxcontainer col">
                        <div class="small pb-1 text-center">Municipios intervenidos</div>
                        <div class="row d-flex justify-content-center">
                            <img class="icon" src="static/images/city.png"></img>
                            <div id='municipios' class="large pl-3"></div>

                        </div>

                    </div>
                    <div class="pt-3 pb-3 shadow rounded boxcontainer col">
                        <div class="small pb-1 text-center">Familias participantes</div>
                        <div class="row d-flex justify-content-center">
                            <img class="icon" src="static/images/juventud.png"></img>
                            <div id='familias' class="large pl-3"></div>

                        </div>

                    </div>
                    <div class="pt-3 pb-3 shadow rounded boxcontainer col">
                        <div class="small pb-1 text-center">Hectáreas sembradas</div>
                        <div class="row d-flex justify-content-center">
                            <img class="icon" src="static/images/tierra.png"></img>
                            <div id='hectareas' class="large pl-3"></div>

                        </div>

                    </div>
                    <div class="pt-3 pb-3 shadow  rounded boxcontainer col">
                        <div class="small pb-1 text-center">Meses</div>
                        <div class="row d-flex justify-content-center">
                            <img class="icon" src="static/images/reloj.png"></img>
                            <div id='duracion' class="large pl-3"></div>

                        </div>

                    </div>
                </div>
            </div>
              
               
            </div>


       
   

                    <div class="row d-flex justify-content-center ">
                        
                        <div class="p-4 shadow rounded boxcontainer col-lg-7 " style="display: flex !important; ">
                            <div class="col justify-content-center">
                                <div class="small pb-2 text-center">Porcentajes</div>
                            <div id="chart" loading="lazy"></div>
                        </div>
                        </div>

                        <div class="p-4 shadow rounded boxcontainer col-lg-4" style="display: flex !important;">
                            <div class="row justify-content-center">
                                <div class="small pb-2 text-center">Productores por municipio</div>
                           
                            <div class=" table-responsive" style="visibility:visible;height:100%">
                                <table class="table table-borderless
                                    report-table">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">Luruaco</td>
                                            <td class="w-100 px-0">
                                                <div class="progress progress-md
                                                    mx-4">
                                                    <div id="Bar" class="progress-bar
                                                        bg-dark" role="progressbar" style="width: 0%"
                                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="50"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h5 id="pluruaco" class="font-weight-bold
                                                    mb-0"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Candelaria</td>
                                            <td class="w-100 px-0">
                                                <div class="progress progress-md
                                                    mx-4">
                                                    <div id="Bar2" class="progress-bar
                                                        bg-primary" role="progressbar" style="width: 0%"
                                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="50"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h5 id="pcandelaria" class="font-weight-bold
                                                    mb-0"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Ponedera</td>
                                            <td class="w-100 px-0">
                                                <div class="progress progress-md
                                                    mx-4">
                                                    <div id="Bar3" class="progress-bar
                                                        bg-yellow" role="progressbar" style="width: 0%"
                                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="50"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h5 id="pponedera" class="font-weight-bold
                                                    mb-0"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Santo Tomás</td>

                                            <td class="w-100 px-0">
                                                <span class="NameHighlights">
                                                    <div class="progress progress-md
                                                        mx-4">

                                                        <div id="Bar4" class="progress-bar
                                                            bg-red" role="progressbar" style="width: 0%"
                                                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="50">
                                                        </div>
                                                        <p>
                                                            # of Votes: 123<br>
                                                            % Liked<br>
                                                            <a href="product review link">See User reviews</a>
                                                        </p>

                                                    </div>
                                                </span>
                                            </td>
                                            <td>
                                                <h5 id="psantotomas" class="font-weight-bold
                                                    mb-0"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Sabanagrande</td>
                                            <td class="w-100 px-0">
                                                <div class="progress progress-md
                                                    mx-4">
                                                    <div id="Bar5" class="progress-bar
                                                        bg-success" role="progressbar" style="width: 0%"
                                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="50"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h5 id="psabanagrande" class="font-weight-bold
                                                    mb-0"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Manatí</td>
                                            <td class="w-100 px-0">
                                                <div class="progress progress-md
                                                    mx-4">
                                                    <div id="Bar6" class="progress-bar
                                                        bg-blue" role="progressbar" style="width: 0%"
                                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="50"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h5 id="pmanati" class="font-weight-bold
                                                    mb-0"></h5>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
             
       

                


                 

   

        </div>
       
        
    </body>
  
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="static/js/c3.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="static/js/base.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
        
    <script>


        window.addEventListener('load', async () => {
    if ('serviceWorker' in navigator) {
      try {
        const registration = await navigator.serviceWorker.register('sw.js')
        console.log('ServiceWorker registration successful with scope: ', registration.scope)
        const notificationPermission = await Notification.requestPermission();
        if (notificationPermission !== 'granted') {
          console.log('Notification permission not granted');
        } else {
        //   const title = 'Test Notification';
        //   const options = {
        //     body: 'Do you like this ?',
        //     icon: 'static/images/icons/beerjs-logo.png',
        //     vibrate: [200, 100, 200, 100, 200, 100, 400],
        //     tag: 'request',
        //     actions: [
        //       { action: 'yes', title: 'Yes', icon: 'static/images/icons/beerjs-logo.png' },
        //       { action: 'no', title: 'No', icon: 'static/images/icons/beerjs-logo.png' }
        //     ]
        //   };
        //   const res = await registration.showNotification(title, options);
        //   console.log(res);
        }
      } catch (err) {
        console.error(err);
      }
    }
  });


    </script>
    
    </html>

    {% endblock %}