
{% extends "header.html" %}


{% block map %} 


  

<div class="container" >
    <div id="loading" > </div>
          <div style='padding-left: 2%;'>
            <div class="row mb-4  justify-content-center">
                <div class="mr-3 ml-3">
                  <h2 for="conflicto">  Selecciona fondo: </h2>
                  </div>
                  <select name="pets" id="conflicto">
                    <option value="Google">Google</option>
                  
                    <option value="Open">Montaña</option>
                 
               
                  </select>
            
                        <div class="mr-3 ml-3">
                          <h2 for="tipomapa">  Selecciona centro: </h2>
                          </div>
                          <select id="tipomapaNocturno" style='display: none;'>
                          </select>
                          <select  name="tipomapa" id="muni" >
                            <option value='Base'>Atlántico</option>
                            <option value='Luruaco'>Luruaco</option>
                            <option value='Manati'>Manatí</option>
                            <option value='Sabanagrande'>Sabanagrande</option>
                            <option value='Ponedera'>Ponedera</option>
                            <option value='Santo'>Santo tomás</option>
                            <option value='Candelaria'>Candelaria</option>

                          </select>
           </div>
                 
                        

         </div>
      
          <div id="map" style='width: 95%;  margin-bottom: 20px; margin-left: auto; margin-right: auto;'>
              <div id="popup" class="ol-popup">
                  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                  <div id="popup-content"></div>
              </div>
          </div>
</div>


</div>

</body>

<script src="static/resources/qgis2web_expressions.js"></script>
<script src="static/resources/polyfills.js"></script>
<script src="static/resources/functions.js"></script>
<script src="static/resources/ol.js"></script>
<script src="static/resources/ol-layerswitcher.js"></script>

<script src="static/data/municipio.js"></script>
<script src="static/styles/fuente.js"></script>
<script src="static/data/layers.js" type="text/javascript"></script>
<script src="static/resources/Autolinker.min.js"></script>
<script src="static/resources/qgis2web.js" ></script>

<script src="static/js/jquery.min.js" ></script>

<script src="static/js/popper.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<script>



    document.onreadystatechange = function () {
        var state = document.readyState
        if (state == 'interactive') {
            document.getElementsByClassName('container')[0].style.visibility = "hidden";
        } else if (state == 'complete') {
            setTimeout(function () {
                document.getElementById('interactive');
                document.getElementById('loading').style.visibility = "hidden";
                document.getElementsByClassName('container')[0].style.visibility = "visible";
            }, 1000);
        }
    }

    function cerrarV(){


document.getElementById("sidebar").classList.toggle('active');
document.getElementById("sidebarMenu").classList.toggle('modal');;


}

    const load = () => { }


</script>




</html>

{% endblock %}